/* Styles de base */
body {
    background-color: #2f4f4f;
    margin: 0;
    color: white; /* Ajouter une couleur de texte claire pour contraster avec le fond */
}

header {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
}





head1{
    margin-top: 20%;
    justify-content: center;

}







h1 {
    color: black;
    text-align: center;
    margin-top: 20px; /* Espacement au-dessus du titre */
}



.menu {
    background-color: black;
    overflow: hidden;
    margin-top: 0px;
    margin-right: 20%;
    text-align: center;
}

.menu a {
    color: black;
    padding: 14px 20px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.menu a:hover {
    background-color: #575757;
    color: white; /* Changer la couleur de texte lors du survol */
}

table {
    width: 80%;
    margin: 20px auto;
    font-size: 14px;
    border-collapse: collapse;
    background-color: #586f64;
    border: 2px solid #333;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.book-image {
    width: 120px;
    height: auto;
}

input[type="text"], input[type="password"], select {
    width: 80%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #2f4f4f;
    border-radius: 5%;
}

.btn {
    background-color: #2f4f4f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
}

.btn:hover {
    background-color: #45a049;
}

.login-container {
    background-color: #ffffff;
    padding: 25px;
    width: 280px;
    height: 350px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    justify-content: center;
}

.admin, .client {
    margin-top: 20px;
}
body {
    background-color: #2f4f4f;
    margin: 0;
    color: white; /* Ajouter une couleur de texte claire pour contraster avec le fond */
}

header {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
}

.logo {
    display: flex;
    width: 5px; /* Ajuster la taille du logo pour qu'il soit visible */
    height: 5px;
    float: right;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 20px; /* Espacement au-dessus du titre */
}



.menu {
    background-color: white;
    overflow: hidden;
    margin-top: 0px;
    margin-right: 20%;
    text-align: center;
}

.menu a {
    color: black;
    padding: 14px 20px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.menu a:hover {
    background-color: #575757;
    color: white; /* Changer la couleur de texte lors du survol */
}

table {
    width: 80%;
    margin: 20px auto;
    font-size: 14px;
    border-collapse: collapse;
    background-color: black;
    border: 5px solid #333;
    border-radius: 8px;
    overflow: hidden;

}

th, td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
    color: black;
}

th {
    background-color: #f2f2f2;
}

td{
    color: white;
}

.book-image {
    width: 120px;
    height: auto;
}



input[type="text"], input[type="password"], select {
    width: 80%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #2f4f4f;
    border-radius: 5%;
}

.btn {
    background-color: #2f4f4f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
}

.btn:hover {
    background-color: #45a049;
}

.login-container {
    background-color: #ffffff;
    padding: 25px;
    width: 280px;
    height: 350px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    
}

.admin, .client {
    margin-top: 20px;
}


.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;

}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-nav ul {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
}

.footer-nav li {
    display: inline;
    margin: 0 15px;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer p {
    margin-top: 15px;
    font-size: 14px;
}




    



